
<footer class="page-footer font-small " style="background-color: #e3f2fd;">


  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="{{ url('homepage.index') }}"> Funtrip   </a>
    <a href="{{ url('article.index') }}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Découvertes   </a>
    <a href="{{ url('contact.index') }}"> Contact</a>

  </div>
  

</footer>
