{% extends 'base.html.twig' %}

{% block body %}
{% include '_inc/flash.messages.html.twig' %}
	<div class="row">
		<div class="col">
			<h1 class="h1-responsive font-weight-bold text-center my-4">Articles</h1>
			
		</div>
		
		<div>
			<a href="{{ url('article.form') }}" class="btn btn-success">Ajouter un article</a>
		</div>
	</div>
	<div class="row">
		{% for article in results %}
			<div class="col-sm-3">
				<img src="{{ asset('img/' ~ article.image) }}" class="img-fluid" alt="">
				<h4>{{ article.titre }}</h4>
				
				<p>
					
					<a href="{{ url('article.details' , {id: article.id}) }}" class="btn btn-primary">Plus de détails</a>
				</p>
			</div>
		{% endfor %}
	</div>

	
{% endblock %}

